.header__container
  = render 'layouts/loggedInNavBar'
.largepic-container
  .largepic-area
  .statsbar-area
    .statsbar-area__container
      = render 'layouts/statsbar'
.following
  .index-container
    .index__left
      .index__bio
        .index__bio__box--top
        .index__bio__box--bottom
          .index__bio__box--icon
          .index__bio__box--name
          .index__bio__box--stats
      .index__trends-box
        %h3 プロフィール
    .following__container
      - @nameBox.each do |following|
        .following__area
          .following__cells
            .following__cells__top
            .following__cells__bottom
              .following__cells__bottom--icon
              .following__cells__bottom--btn フォロー中
              .following__cells__bottom--name
                = following.name
              .following__cells__bottom--intro