.header__container
  .header__space
    .header__items
      .header__items-home
      .header__items-moment
      .header__items-notification
      .header__items-messages
      .header__items-bird
      .header__items-serchbar
      .header__items-bioicon
      .header__items-tweetbox
.index
  .index-container
    .index__left
      .index__bio
        .index__bio__box--top
        .index__bio__box--bottom
          .index__bio__box--icon
          .index__bio__box--name
          .index__bio__box--stats
      .index__trends-box
        %h3 show
    .index__main
      .index__main--timeline__tweetbox
      .index__main--stream__box
        .index__main--stream__tweets
    .index__right
      .index__right__recomem 
        %h3 show
      .index__right__import
      .index__right__terms
      .index__right__ads
