.header__container
  = render 'layouts/navBar'
.largepic-container
  .largepic-area
  .statsbar-area
    .statsbar-area__container
      .statsbar__area__block
.index
  .index-container
    .index__left
      .index__bio
        .index__bio__box--top
        .index__bio__box--bottom
          .index__bio__box--icon
          .index__bio__box--name
          .index__bio__box--stats
      .index__trends-box
        %h3 プロフィール
    .user__main
      .user__main--timeline__tweetbox
        .tweetBox
          %ul
            %li.tweet
              = link_to "ツイート", user_path(current_user.id)
      .user__main--stream__box
        .user__main--stream__tweets
    .index__right
      = render 'layouts/indexRight'