.edit-countainer {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: image-url("background/signup_bg3.jpg");
  animation: moveBg 60s infinite linear;
}

.areaEdit__BOX{
  text-align: left;
  top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 10px 30px 10px;
  color: black;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
}
