// @import "./variables";

.clearfix{
  @include clearfix;
}

h3 {
  font-weight: bold;
}

a{
  text-decoration: none;
}

.index__bio__box--name a {
  color: black;
}

.header__container {
  height: 46px;
  width: 100%;
  position: fixed;
  background-color: white;
}

.index {
  width: 100vw;
  padding-top: 56px;
  background-color: $indexBack;
  min-height: 100vh;
  // &:after {
  // content: "";
  // clear: both;
  // display: block;
  // }
}
  .header__space {
  color: green;
  max-width: 1190px;
  margin: 0 auto;
}

.header__items {
}

.header__items-tweetbox {
  float: right;
  border-radius: 100px;
  width: 90px;
  height: 34px;
  background-color: $myGreen;
  margin: 6px 0px 6px 16px;
}

// .index
.index-container {
  margin: 0px 109px 0px 109px;
  padding: 0px 14px 15px 14px;
  background-color: $indexBack;
  min-width: 1194px;
}

.index__left {
  display: inline-block;
  float: left;
  word-break: break-all;
}

.index__bio {
  width: 288px;
  margin-bottom: 10px;
}

.index__bio__box--top {
  height: 90px;
  background-color: gray;
}

.index__bio__box--bottom {
  min-height: 110px;
  background-color: white;
  padding: 15px;
}

.index__bio__box--intro{
  clear: both;
}

.index__bio__box {
  width: 185px;
  height: 43px;
  // margin-bottom: 10px;
}

.index__bio__box--iconBox {
  float: left;
  width: 60px;
  height: 60px;
  border: solid 1px;
  border-radius: 50%;
  // margin-left: 20px;
  // margin-top: 5px;
}

// .iconBig{
//   width: 60px;
//   height: 60px;
// }

.index__bio__box--name {
  font-size: 18px;
  font-weight: bold;
  line-height: 43px;
  margin-left: 77px;
}


// .index__bio__box--stats
.index__trends-box {
  width: 258px;
  height: 470px;
  padding: 15px;
  margin-bottom: 10px;
  border: solid 1px $indexBack;
  background-color: white;
}


.index__main {
  margin-left: 8px;
  display: inline-block;
  float: left;
}

p.home{
  text-align: center;
}


.index__main--timeline__tweetbox {
  width: 588px;
  height: 58px;
  background-color: $lightGreen;
  border: solid 1px $indexBack;
  &__area {
    height: 38px;
    padding: 10px 0;
  }
  &__box{
    width: 506px;
    height: 36px;
    border-radius: 30px;
    background-color: white;
    border: solid 1px $myGreen2;
    margin-left: 56px;

  }
}

p.tweetbox {
  font-size: 14px;
  color: $myGreen2;
  width: 459px;
  height: 20px;
  line-height: 20px;
  padding: 8px 31px 8px 16px;
}

.index__main--stream__box {

}

.index__main--stream__tweets {
  background-color: white;
  width: 564px;
  height: 130px;
  padding: 9px 12px 9px 12px;
  border-bottom: solid 1px $indexBack;
}

.index__right {
  float: left;
}

.index__right__recomem--box {
  height: 226px;
  width:  258px;
  padding: 15px;
  margin-left: 9px;
  background-color: white;
  border-bottom: solid 1px $indexBack;
}


.index__right__recomem--field{
  width: 258px;
  height: 22px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.recomem--field {
  display: inline-block;
  line-height: 22px;
}

.small_box{
  width: 110px;
  height: 22px;
  font-size: 10px;
  float: right;
  line-height: 2.5;
}

.recomendUsers--area{
  width: 258px;
  height: 52px;
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: solid 1px black;
  background-color: white;
}

.recomendUsers--right{
  width: 180px;
  height: 48px;
  margin: 0px 20px 0px 0px;
  float: right;
}


.recomendUsers__name--area{
  width: 180px;
  height: 17px;
}


.recomendUsers__name{
  font-size: 14px;
  font-weight: bold;
}

.recomendUsers__followBTN--area{
  font-size: 12px;
  font-weight:bold;
  color: $myGreen3;
  width: 180px;
  height: 27px;
  margin-top: 4px;
}

.recomendUsers__followBTN{
  width: 72px;
  height: 21px;
  line-height: 20px;
  padding: 4px 12px;
  border: solid 1px $myGreen3;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.recomendUsers--left{
}


.recomendUsers__iconPic--area{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
}

.index__right__import {
    height: 76px;
    width: 258px;
    padding: 15px;
    margin-left: 9px;
    background-color: white;
    border-bottom: solid 1px $indexBack;
  }

.index__right__terms--top {
  font-size: 12px;
  color: gray;
}


.index__right__terms {
  height: 90px;
  width:  258px;
  padding: 15px;
  margin-left: 9px;
  background-color: white;
  border-bottom: solid 1px $indexBack;

}

.index__right__ads {
  height: 20px;
  width:  258px;
  padding: 15px;
  margin-left: 9px;
  background-color: white;
  border-bottom: solid 1px $indexBack;
}

// infinite scroll animation(wheel)
.page-load-status {
  display: hidden; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.loader-wheel {
  font-size: 42px; /* change size here */
  position: relative;
  height: 1em;
  width: 1em;
  padding-left: 0.45em;
  overflow: hidden;
  margin: 0 auto;
  animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 0.1em;
  border-radius: 0.05em;
  background: $myGreen; /* change color here */
  opacity: 0.8;
  transform: rotate(-30deg);
  transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

