// @import "./variables";

h3 {
  font-weight: bold;
}

.header__container {
  height: 46px;
  width: 100%;
  position: fixed;
  background-color: white;
}

.index {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
  background-color: $indexBack;
}
  .header__space {
  color: green;
  max-width: 1190px;
  margin: 0 auto;
}

.header__items {
}

// .header__items-home
// .header__items-moment
// .header__items-notification
// .header__items-messages
// .header__items-bird
// .header__items-serchbar
// .header__items-bioicon
.header__items-tweetbox {
  float: right;
  border-radius: 100px;
  width: 90px;
  height: 34px;
  background-color: $myGreen;
  margin: 6px 0px 6px 16px;
}
p.nav__tbox {
  font-size: 14px;
  width: 56px;
  height: 20px;
  line-height: 20px;
  margin: 6px 16px;
  color: white;
}

// .index
.index-container {
  margin: 0px 109px 0px 109px;
  padding: 0px 14px 15px 14px;
  background-color: $indexBack;
}

.index__left {
  display: inline-block;
  float: left;
}

.index__bio {
  width: 288px;
  height: 207px;
  margin-bottom: 10px;
}

.index__bio__box--top {
  width: 288px;
  height: 90px;
  background-color: gray;
}

.index__bio__box--bottom {
  width: 288px;
  height: 117px;
  background-color: white;
}

// .index__bio__box--icon

.index__bio__box {
  width: 185px;
  height: 43px;
  margin-bottom: 10px;
}

.index__bio__box--iconBox {
  float: left;
  width: 60px;
  height: 60px;
  border: solid 1px black;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
}

.index__bio__box--name {
  font-size: 18px;
  font-weight: bold;
  // margin-left: 30px;
  line-height: 43px;
  float: right;
}


// .index__bio__box--stats
.index__trends-box {
  width: 258px;
  height: 470px;
  padding: 15px;
  margin-bottom: 10px;
  border: solid 1px $indexBack;
  background-color: white;
}


.index__main {
  margin-left: 8px;
  display: inline-block;
  float: left;
}

.index__main--timeline__tweetbox {
  width: 588px;
  height: 58px;
  background-color: $lightGreen;
  border: solid 1px $indexBack;
  &__area {
    width: 508px;
    height: 38px;
    padding: 10px 12px;
  }
  &__box{
    width: 506px;
    height: 36px;
    border-radius: 30px;
    background-color: white;
    border: solid 1px $myGreen2;
    margin-left: 56px;

  }
}

p.tweetbox {
  font-size: 14px;
  color: $myGreen2;
  width: 459px;
  height: 20px;
  line-height: 20px;
  padding: 8px 31px 8px 16px;
}

.index__main--stream__box {

}

.index__main--stream__tweets {
  background-color: white;
  width: 564px;
  height: 130px;
  padding: 9px 12px 9px 12px;
  border-bottom: solid 1px $indexBack;
}

.index__right {
  display: inline-block;
  float: left;
}

.index__right__recomem {
    height: 226px;
    width:  258px;
    padding: 15px;
    margin-left: 9px;
    background-color: white;
    border-bottom: solid 1px $indexBack;
}


.index__right__import {
    height: 76px;
    width: 258px;
    padding: 15px;
    margin-left: 9px;
    background-color: white;
    border-bottom: solid 1px $indexBack;
  }

.index__right__terms {
  height: 90px;
  width:  258px;
  padding: 15px;
  margin-left: 9px;
  background-color: white;
  border-bottom: solid 1px $indexBack;

}

.index__right__ads {
  height: 20px;
  width:  258px;
  padding: 15px;
  margin-left: 9px;
  background-color: white;
  border-bottom: solid 1px $indexBack;
}
