.moment__main {
  margin-left: 8px;
  display: inline-block;
  float: left;
}

.moment__main--timeline__tweetbox {
  width: 588px;
  height: 58px;
  background-color: $lightGreen;
  border: solid 1px $indexBack;
  &__area {
    width: 508px;
    height: 38px;
    padding: 10px 12px;
  }
  &__box{
    width: 506px;
    height: 36px;
    border-radius: 30px;
    background-color: white;
    border: solid 1px $myGreen2;
    margin-left: 56px;

  }
}

p.tweetbox {
  font-size: 14px;
  color: $myGreen2;
  width: 459px;
  height: 20px;
  line-height: 20px;
  padding: 8px 31px 8px 16px;
}

.moment__main--stream__box {

}

.moment__main--stream__tweets {
  background-color: white;
  width: 564px;
  height: 130px;
  padding: 9px 12px 9px 12px;
  border-bottom: solid 1px $indexBack;
}

