.moment__main {
  margin-left: 8px;
  display: inline-block;
  float: left;
  max-height: 154px;
}

.moment__main--timeline__tweetbox {
  padding: 2.5px 0;
  word-break:break-all;
  background-color: $lightGreen;
  border: solid 1px $indexBack;
  &__area {
    text-align: center;
    color:  gray;
  }
  &__box{
    height: 36px;
    border-radius: 30px;
    background-color: white;
    border: solid 1px $myGreen2;
    margin-left: 56px;
  }
}

p.tweetbox {
  font-size: 14px;
  color: $myGreen2;
  width: 459px;
  height: 20px;
  line-height: 20px;
  padding: 8px 31px 8px 16px;
}

.moment__main--stream__tweets {
  background-color: white;
  width: 564px;
  min-height: 154px;
  padding: 9px 12px 9px 12px;
  border-bottom: solid 1px $indexBack;
}

.textinchat{
  word-break: break-all;
}

.main__top{
  display: flex;
}

.main__top--name a {
  font-weight: bold;
  color: black;
}

.main__top--icon{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main__bottom{
  word-break: break-all;
}
