
.tweet-area {
  width: 590px;
  height: 210px;
}


.tweet__box--top {
  width: 590px;
  height: 49px;
}

.tweet__box--title{
  width: 424.5px;
  height: 24px;
  margin: 0 70.75px;
}


.tweet__box--bottom{
  background-color: $myGreen;
}

