.tweet-area__background{
  background-color: gray;
  width:  100vw;
  height: 100vh;
}

.tweet-area {
  width: 37%;
  min-width: 335px;
  height: 210px;
  margin: 0 auto;
  border-radius: 6px;
}

.tweet__box--top {
  max-width: 100%;
  padding: 12px;
  border-bottom: solid 1px $myGreen;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.tweet__cautionBox--top{
  max-width: 100%;
  padding: 12px;
  border-bottom: solid 1px $myGreen;
  background-color: yellow;
  text-align: center;
  font-weight: bold;
}

.tweetCancel{
  text-align: center;
  line-height: 30px;
  float: right;
  font-weight: bold;
  color: white;
  background-color: $myGreen;
  border: 1px solid $myGreen;
  border-radius: 100px;
  width: 88px;
  height: 28px;
  margin: 7px 0px;
  cursor: pointer;
}

.tweet__box--title{
  width: 424.5px;
  height: 24px;
  margin: 0 70.75px;
}

textarea.new__tweetBox{
  max-width: calc(100% - 35px);
  width: 100%;
  border-radius: 15px;
  box-shadow: none;
  font-size: 14px;
  padding: 8px 16px 8px 16px;
  margin-bottom: 8px;
  border: 0.5px solid $myGreen;
}


.tweet__box--bottom{
  background-color: $myGreen2;
  padding: 15px;
}

.tweet__box--tool{
  background-color: gray;
}

.new__tweetBtn{
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: $myGreen;
  border: 1px solid $myGreen;
  border-radius: 100px;
  width: 90px;
  height: 30px;
  margin: 7px 5px;
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
}


.new__tweetImageBtn{
  width: 300px;
}