
.largepic-container {
  // positon: fixed;
}

.largepic-area {
  width: 100vw;
  height: 175px;
  background-color: $myGreen;
}

.statsbar-area {
  width: 100vw;
  height: 60px;
  background-color: white;
}

.statsbar-area__container {
  margin: 0px 123.5px;
}

.statsbar__area__block {
  width: 890px;
  height: 59px;
  padding: 0px 5px;
  background-color: white;
  margin-left: 290px;
}

.numOfTweet--area {
  text-align: center;
  width: 48px;
  height: 37px;
  padding: 14px 15px 7px 15px;
  border-bottom: 2px solid $myGreen;
  display: inline-block;
}

.numOfTweet--text--area {
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
}

.numOfTweet--text {
  color: gray;
  font-size: 12px;
}

.itsNumber{
  width: 48px;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  line-height: 15px;
}

.logoutBtn__area{
  width: 130px;
  height: 47px;
  padding-top: 12px;
  padding-left: 2px;
  float: right;
  .logoutBtn{
    width: 96px;
    height: 20px;
    padding: 6px 16px;
    border: solid 1px gray;
    border-radius: 100px;
    text-align: center;
    .logoutBtn--text{
      font-size: 14px;
      line-height: 20px;
      color: gray;
    }
  }
}

.editBtn__area{
  width: 160px;
  height: 47px;
  padding-top: 12px;
  padding-left: 2px;
  float: right;
  .editBtn{
    width: 126px;
    height: 20px;
    padding: 6px 16px;
    border: solid 1px gray;
    border-radius: 100px;
    .editBtn--text{
      font-size: 14px;
      line-height: 20px;
      color: gray;
    }
  }
}

.user__main{
  margin-left: 8px;
  display: inline-block;
  float: left;
}

.user__main--timeline__tweetbox {
  background-color: white;
  width: 588px;
  height: 45px;
  border-bottom: solid 1px $indexBack;
  display: inline-block;
}

.tweetBox{
  font-weight: bold;
  padding:15px 15px 12px 15px;
  width: 72px;
  height: 18px;
  font-size: 18px;
  display: inline-block;
}

.tweetBtn {
  line-height: 18px;
}

.followingBox{
  font-weight: bold;
  padding:15px 15px 12px 15px;
  width: 72px;
  height: 18px;
  font-size: 18px;
  display: inline-block;
}

.followingBtn{
  line-height: 18px;
}

.user__main--stream__box{


}

.user__main--stream__tweets{
  background-color: white;
  width: 564px;
  height: 130px;
  padding: 9px 12px 9px 12px;
  border-bottom: solid 1px $indexBack;
}

.userIcon{
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: image-url("pics/user.jpg");
}

.nameTime__box{
  width:400;
  height: 30px;
  display: inline;
}

li.userAndTime {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  line-height: none;
}

li.tweetContent{
  list-style: none;
  font-size: 14px;
}

li.tweetImage{
list-style: none;
}

