@mixin clearfix{
  &:after{
    content: "";
    display: block;
    clear:both;
  }
}

@keyframes moveBg{
    0%    { background-position: 0px 0px; }
    100%  { background-position: -100vw 0px; }
}


@keyframes loader-wheel-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin awesome{
  text-align: center;
  margin: 0 auto;
  line-height: 55px;
  color: gray;
  font-size: 30px;
}