.index__main
  .index__main--timeline__tweetbox
    .index__main--timeline__tweetbox__area
      .index__main--timeline__tweetbox__box
        %p.tweetbox いまなにしてる？
  .index__main--stream__box
    = render "layouts/mainTweet"

