.index__left
  .index__bio
    .index__bio__box--bottom
      .index__bio__box--icon
      .index__bio__box
        = link_to image_tag(@user.avatar, {:class=>"index__bio__box--iconBox"}),user_path(@user.id)
        .index__bio__box--name
          = link_to @user.name, user_path(@user)
      .index__bio__box--stats
      .index__bio__box--intro
        = simple_format(@user.intro)
  .index__trends-box
    %h3 トレンド