.index__right
  .index__right__recomem--box
    .index__right__recomem--field
      %p.recomem--field おすすめユーザー
    - @recommends.each do |recommend|
      .recomendUsers--area
        .recomendUsers--right
          .recomendUsers__name--area
            .recomendUsers__name
              = recommend.name
          .recomendUsers__followBTN--area
            .recomendUsers__followBTN.followTrigger.recomendBTNHover{user: {id: current_user.id}, following: {id: recommend.id}} フォロー
        .recomendUsers--left
          = image_tag (recommend.avatar), class: "recomendUsers__iconPic--area"
  .index__right__import
  .index__right__terms
    %p.index__right__terms--top ©2017 Spitter Spitterについて
    %p.index__right__terms--top ヘルプセンター 規約 プライバシーポリシー
    %p.index__right__terms--top クッキー 広告について ブランド ブログ
    %p.index__right__terms--top ステータス アプリ連携 採用情報
    %p.index__right__terms--top 広告掲載方法 開発者
  .index__right__ads
    %p.index__right__ads--top Twitter広告

