.index__main
  .index__main--timeline__tweetbox
    .index__main--timeline__tweetbox__area
      - if @path.is('tweets#index')
        %p.home ホームです
  .index__main--stream__box
    = render "layouts/mainTweet"

