.index__right
  .index__right__recomem--box
    .index__right__recomem--field
      %p.recomem--field おすすめユーザー
      .small_box・更新・すべて見る
    - @recommends.each do |recommend|
      .recomendUsers--area
        .recomendUsers--right
          .recomendUsers__name--area
            .recomendUsers__name
              = recommend.name
          .recomendUsers__followBTN--area
            .recomendUsers__followBTN{user: {id: current_user.id}, following: {id: recommend.id}} フォローする
        .recomendUsers--left
          .recomendUsers__iconPic--area
  .index__right__import 重要
  .index__right__terms 利用規約
  .index__right__ads 広告について

