.moment__main
  .moment__main--timeline__tweetbox
    .moment__main--timeline__tweetbox__area
      .moment__main--timeline__tweetbox__box
        %p.tweetbox モメント
  .moment__main--stream__box
    = render 'layouts/mainTweet'