.header__space
  .header__items
    .header__items-home
    .header__items-moment
    .header__items-notification
    .header__items-messages
    .header__items-bird
    .header__items-serchbar
    .header__items-bioicon
    .header__items-tweetbox
      %p.nav__tbox
        = link_to "ツイート", new_tweet_path, :class => "index__header__tweetBtn"